.dashboard {
    height: 80vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    background-color: rgb(48, 107, 48);
    border: 20px solid rgb(32, 63, 32);
    border-radius: 5px;
    overflow-y: auto;

    @media screen and (max-width: 450px) {
        display: flex;
        justify-content: space-around
    }
}

.dashboard::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.dashboard::-webkit-scrollbar-track {
    background-color: #1f345f;
    /* color of the tracking area */
}

.dashboard::-webkit-scrollbar-thumb {
    background: #13203d;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */

    /* creates padding around scroll thumb */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 200px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 9px 9px 5px 3px rgba(0, 0, 0, 0.1);
}


.card_discription {
    text-align: start;
    width: fit-content;
    font-size: 15px;
    line-height: 20px;
    height: 70%;
}

.card_creator {
    font-size: 10px;
    text-align: end;
    font-weight: 800;
}

.title_contant {
    display: flex;
    justify-content: space-around;
    width: 140%;
    margin-top: -10px;
}

.pin {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}