.dashboard {
    height: 80vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    background-color: rgb(48, 107, 48);
    border: 20px solid rgb(32, 63, 32);
    border-radius: 5px;
    overflow-y: auto;

    @media screen and (max-width: 450px) {
        display: flex;
        justify-content: space-around
    }
}

.dashboard::-webkit-scrollbar {
    width: 12px;
}

.dashboard::-webkit-scrollbar-track {
    background-color: #1f345f;
}

.dashboard::-webkit-scrollbar-thumb {
    background: #13203d;
    border-radius: 20px;
}