$colorText: white;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background: #13203d;
    overflow-x: hidden;
}

.logoImage {
    width: 48px;
    height: 48px;
    margin: 10px;
    fill: rgb(255, 255, 255);
    cursor: pointer;
}

.logo_title {
    font-size: 20px;
    font-weight: 900;
    margin: 10px;
    color: white;
    text-align: center;

    @media screen and (max-width: 280px) {
        font-size: 10px;
    }
}