.profile_menu {
    position: absolute;
    right: 10px;
    top: 80px;
    width: 200px;
    height: 130px;
    border: 3px solid #13203d;
    z-index: 10;
    background-color: #394c75;
    display: none;
    animation: openPopup 0.5s ease-out;

    p,
    span {
        color: white;
    }
}

@keyframes openPopup {
    0% {
        transform: scale(0.9);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.show {
    display: block;
}

.profile_block {
    width: 100%;
    height: 70px;
    border-bottom: 3px solid #13203d;

    & :hover {
        background-color: #495e8b;
    }
}

.profile_block_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
}

.profile_menu_logoImage {
    width: 50px;
    height: 50px;
}

.profile_menu_name {
    font-size: 18px;
}

.profile_menu_email {
    font-size: 10px;
    line-height: 10px;
}

.exit_contant {
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 5px 8px;
    padding: 5px;

    & :hover {
        background-color: #495e8b;
    }
}

.profile_menu_exitImage {
    width: 20px;
    height: 20px;
}